@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aprender</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aprender.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex justify-content-center align-self-center m-5">        
        <div class="w-400">
            <form id="account" method="post">
                <img class="p-3" width="250px" src="~/images/logo aprender.png" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating m-1">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating m-1">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox m-1">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="justify-content-center w-60 btn btn-lg btn-primary m-1">Acceder</button>
                </div>
                <div class="m-1">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                    </p>
                </div>
            </form>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </div>
    
</body>

