@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aprender</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aprender.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex justify-content-center align-self-center w-400">        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="m-3 mt-5">Formulario de registración</h2>
            <div class="form-floating">
                <input asp-for="Input.Dni" class="form-control" autocomplete="dni" aria-required="true" />
                <label asp-for="Input.Dni"></label>
                <span asp-validation-for="Input.Dni" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Nombre" class="form-control" autocomplete="nombre" aria-required="true" />
                <label asp-for="Input.Nombre"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Apellido" class="form-control" autocomplete="apellido" aria-required="true" />
                <label asp-for="Input.Apellido"></label>
                <span asp-validation-for="Input.Apellido" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="tel" asp-for="Input.PhoneNumber" class="form-control" autocomplete="numberphone" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FechaNacimiento" class="form-control" autocomplete="fechanacimiento" aria-required="true" />
                <label asp-for="Input.FechaNacimiento"></label>
                <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Direccion" class="form-control" autocomplete="direccion" aria-required="true" />
                <label asp-for="Input.Direccion"></label>
                <span asp-validation-for="Input.Direccion" class="text-danger"></span>
            </div>
            @*<div class="form-floating">
                <input type="file" asp-for="Input.CertificadoAnalitico" class="form-control" autocomplete="analitico" aria-required="true" multiple/>
                <label asp-for="Input.CertificadoAnalitico"></label>
                <span asp-validation-for="Input.CertificadoAnalitico" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="file" asp-for="Input.CopiaDni" class="form-control" autocomplete="copiadni" aria-required="true" multiple/>
                <label asp-for="Input.CopiaDni"></label>
                <span asp-validation-for="Input.CopiaDni" class="text-danger"></span>
            </div>*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div class="m-1">
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Registrarse</button>
        </form>
        
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>

